{% extends 'base.html' %}
{% block title %}
{{ super() }} - {{ title }}
{% endblock %}
{% block content %}
<div class="row">
    <img style width="500" src="/static/img/shoes.jpeg" alt="Обувь">
    <div class="col-12 col-md-6 col-lg-4">
        <p>Купить обувь в интернет-магазине. Большой каталог
            женской, мужской, детской обуви, сумок и аксессуаров Доставка по
            городу. Бонусная программа лояльности. Основные
            задачи – минимизировать использование природных ресурсов, сократить
            количество отходов, внедрить в производство возобновляемые
            источники энергии и популяризировать идею переработки материалов.
            Узнать больше. Интернет-магазин обуви </p>

    </div>
</div>
{% endblock %}